# Proper Name <proper@email.xx> Commit Name <commit@email.xx>
Clint Bellanger <clintbellanger@gmail.com> clintbellanger <clintbellanger@gmail.com>
Clint Bellanger <clintbellanger@gmail.com> unknown <cpb0001@LIB-AU16638.auburn.edu>
Clint Bellanger <clintbellanger@gmail.com> unknown <clintbellanger@gmail.com>
Thane Brimhall <thane.brimhall@gmail.com> Thane Brimhall <thane@lenny.(none)>
Thane Brimhall <thane.brimhall@gmail.com> Thane Brimhall <tbrimhall@turtle.(none)>
Thane Brimhall <thane.brimhall@gmail.com> Thane Brimhall <thane@thane-laptop.(none)>
Justin Jacobs <justin@justinjacobs.com> Justin Jacobs <jajdorkster@gmail.com>
Matthew Krohn <makrohn@gmail.com> makrohn <makrohn@gmail.com>
Stefan Beller <stefanbeller@googlemail.com> stefanbeller <stefanbeller@googlemail.com>
Igor Paliychuk <mansonigor@gmail.com> igor <mansonigor@gmail.com>
Igor Paliychuk <mansonigor@gmail.com> igor Paliychuk <mansonigor@gmail.com>
Chris Oelmueller <chris.oelmueller@gmail.com> Chris Oelmueller <eoc.eoc.eoc@gmail.com>
Manuel A. Fernandez Montecelo <manuel.montezelo@gmail.com> Manuel A. Fernandez Montecelo <mafm@mafm-laptop.itsari.org>
Andrzej Adamczyk <akasei@inoto.net> Akasei <akasei@inoto.net>
Adrián Chaves Fernández (Gallaecio) <adriyetichaves@gmail.com> Adrian Chaves Fernandez <adriyetichaves@gmail.com>
Christian Kirchberger <hplgonzo@gmx.net> Gonzo <hplgonzo@gmx.net>
Henrik Andersson <hean01@users.sourceforge.net> Henrik Andersson <henrik.4e@gmail.com>
