# Proper Name <proper@email.xx> Commit Name <commit@email.xx>
Clint Bellanger <clintbellanger@gmail.com> clintbellanger <clintbellanger@gmail.com>
Thane Brimhall <thane.brimhall@gmail.com> Thane Brimhall <thane@lenny.(none)>
Thane Brimhall <thane.brimhall@gmail.com> Thane Brimhall <tbrimhall@turtle.(none)>

