language: cpp
compiler:
  - gcc
  - clang
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libsdl1.2-dev libsdl-image1.2-dev libsdl-mixer1.2-dev libsdl-ttf2.0-dev cppcheck
script: cmake . && make
after_script: cppcheck --enable=all -q `git ls-files src/\*.cpp`
notifications:
  irc:
    channels:
      - "irc.freenode.org#flare-rpg"
    on_success: always
    on_failure: always
    use_notice: true
    skip_join: true
    template:
      - "%{repository} (%{commit}) : %{message} %{build_url}"
